extends ./layout
block content
  p.main-content testing shit
block table
  table(class='table-bordered',id='table')
    thead
      tr
        th Index
        th Rate
        th Timestamp

    tbody
      each piece in data
        tr
          td #{piece.id}
          td #{piece.last}
          td #{piece.timestamp}

