doctype
html
  head
    title #{title} - My site
    link(rel='stylesheet',href='stylesheets/style2.css')
    link(rel="stylesheet",href="external_scripts/bootstrap.min.css")
    script(src='external_scripts/jquery.min.js')
    script(src='external_scripts/bootstrap.min.js')
  body
    block content
    block table
