doctype
html
  head
    title Home page
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/style.css')
    link(rel='stylesheet',href='/stylesheets/portal.css')
  body
    .container
      h1.prime-header Welcome to BTC Data. To access the website, choose one of the following actions.
      .row
        .col-md-6.col-md-offset-3
          .buttons-container
            .form-group
              a.btn.btn-primary(href='/signup') Do not have an account? Click here to register.
            .form-group
              a.btn.btn-primary(href='/login') Already have an account? Click here to login.   
    footer
      p Powered by Express, Node and other magical stuff.

