#h1
  text-align center
  font-size 32px
  height auto
  color #FFF
  background-color #FF9800
  margin 10px auto 10px auto
  padding-bottom 16px
  padding-top 20px

#btcChart
  margin auto auto
  width 100%
  height 300pt

.table-container
  border 1px 0px 1px 0px #030303
  background-color white
  #h2
    text-align center
    font-size 32px
    padding-top 20px
    padding-bottom 16px
    height auto
    color #FFF
    background-color #FF9800
    margin 10px auto 10px auto

#table
  margin-left auto
  margin-right auto
  width 100%

thead tr th
  text-align center
  background-color red
  padding 5px

tbody tr td
  text-align center
  padding 2px

#chart-container
  background-color white
  #canvas-wrapper
    padding 0 5px 0 5px

.buttons-container
  display block
  margin-top 10pt
  margin-bottom 10pt
  background-color white
  padding 5px 0 5px 0
  input
    margin-left 12%

